.Contact {
  display: flex;
  position: relative;
  padding: 11px;
  margin: 10px 0;
  border-radius: 8px;
  width: 600px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.057);
}

.Contact > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.Contact > div {
  width: 100%;
}

.Contact > div > div > h4 {
  margin-bottom: 3px;
}

.Contact > div > div > p {
  margin-bottom: 3px;
  font-size: 14px;
}

.Contact > div > p {
  max-width: 80%;
  width: 80%;
  word-wrap: break-word;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 15px;
  opacity: 0.5;
  font-weight: 600;
}
.message-contact {
  cursor: pointer;
  content: attr(title);
  margin-right: 17px;
  color: rgb(77, 92, 156);
}

.message-contact:hover {
  transform: scale(1.2);
}

.delete-contact {
  color: rgb(156, 126, 77);
  content: attr(title);
  cursor: pointer;
  margin-right: 20px;
}

.delete-contact:hover {
  transform: scale(0.84);
}

.deleted {
  display: none;
}

.Contact-buttons {
  position: absolute;
  bottom: 0;
  margin: 0 20px 20px 0;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
}
