.Sidenav {
  height: 800px;
  width: 320px;
  padding-top: 10px;
}

.Sidenav-searchbar-container {
  display: flex;
  align-items: center;
  box-shadow: rgba(64, 71, 78, 0.2) 0px 2px 7px;
  border-radius: 10px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}

.Sidenav-searchbar-container > input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 17px;
}
