.MessageDisplay {
  padding-top: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
}

.MessageDisplay > h3 {
  margin: 10px 0 10px 15px;
}

.MessageDisplay-body {
  overflow-y: scroll;
  height: 340px;
}

.MessageDisplayCard {
  display: flex;
  cursor: pointer;
  padding: 10px 10px;
}

.MessageDisplayCard:hover {
  background-color: #034deb78;
}

.MessageDisplayCard > img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 8px;
}

.MessageDisplayCard > div > h4 {
  margin: 3px 0;
}

.MessageDisplayCard > div > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
